/* Use this file to store your useful variables */
/* This could be colors, fonts, or padding sizes! */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');





:root {
  --color-primary: #7be447;
  --color-secondary: #1f1f1f;
}




/* Mobile Responsive */

@media (max-width: 768px) {
  /* Tablet and etc */

  .logo {
    width: 10%; /* Make logo a bit larger on other devices */
  }

  h1 {
    font-size: 18px; /* smaller headings?? */
  }

  .sectionone {
    font-size: 16px;
    margin: 5%;
  }

  nav a {
    padding: 15px; /* Reduce padding in navbar links */
  }
}

@media (max-width: 480px) {
  /* Mobile phones */

  .logo {
    width: 20%;
  }

  h1 {
    font-size: 16px;
  }

  .sectionone {
    font-size: 14px;
    margin: 10%;
  }
}