/* Use import to split up your CSS into manageable chunks */
@import url("./_reset.css");

/* Files that are only needed to be imported are called partials */
/* These are marked with an underscore: */
@import url("./_variables.css");
/* Feel free to add as many of these imports as you need */





html {
   scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  min-height: 100vh;
  margin: 0;
}

h1 {
  font-size: 20px;
  color: blue;
}



.sectionone {
  font-family: 'Montserrat';
  color: white;
  font-weight: bold;
  max-width: 50ch;
  margin: 0% 5%;
}



img {
  width: 100%;

}

.highlighted {
  border: 2px dashed red;
}

#two {
  background-color: red;
  padding: 5px;
  
}

#three {
  background-color: yellow;
}

#four {
  background-color: aquamarine;
}





/*  Navigation Bar Menu */
nav {
  position: fixed;
  top: 0px;
  height: 40px;
  width: 100%;
  margin-right: auto;
 

}

nav li {
  display: inline-block;
  
}

nav ul {
  padding: 20px;
  border: solid black;
  background-color: black;
  opacity: 70%;

}

nav a {
  color: white;
  font-family: 'Montserrat';
  text-decoration: none;
  padding: 20px;
}


nav a:hover {
  
  color: whitesmoke;
  font-family: 'Montserrat';
  font-weight: bold;
  
}
/*  End Of Navigation Bar Menu */


