/* Use import to split up your CSS into manageable chunks */
@import url("./_reset.css");
/* Files that are only needed to be imported are called partials */
/* These are marked with an underscore: */
@import url("./_variables.css");
/* Feel free to add as many of these imports as you need */


html {
   scroll-behavior: smooth;
}

body {
  background-color: grey;
}


nav {
  position: fixed;
  top: 0px;
  height: 40px;
  width: 100%;
}